body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
    width: 600px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;

}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.logo-container img {
    height: 50px;
    margin-right: 10px;
}

.logo-container h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.1em;
}
.header img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-row {
    display: flex;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-right: 0;
    background-color: #f9f9f9;
    font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

.form-links {
    display: flex;
    justify-content: space-between;
}

.form-links p {
    margin: 5px 0;
    font-size: 14px;
}

.form-links a {
    color: #007bff;
    text-decoration: none;
}

.boton {
    background-color: #515153;
    color: white;
    padding: 5px 10px;
    margin: auto;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 16px;
    width: 25%;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px #999;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #515153;
}

.boton:active {
    background-color: #515153;
    transform: translateY(2px);
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
}

footer p {
    font-size: 14px;
    color: #777;
}
